.keyboard {
    width: 240px;
    height: 40px;
}

.key {
    width: 10px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    display: inline-block;
    box-sizing: border-box;
}

.key.white {
    background-color: rgba(255, 255, 255, 0.25);
}

.key.white.on {
    background-color: rgba(255, 255, 255, 1);
}
.key.black.on {
    background-color: rgba(255, 255, 255, 0.5);
}